<?xml version="1.0"?>
<model>
  <name>snusat1</name>
  <version>1.0</version>
  <sdf version='1.4'>snusat1.sdf</sdf>

  <author>
   <name>Jaeyoung Lim</name>
   <email>jaeyoung@ethz.ch</email>
  </author>

  <description>
    This is a sdf model of a 2U Cubesat developed by SNU Cubesat research center for the QB50 project.
  </description>
</model>
